---
import Main from '../layouts/Main.astro';
import Nav from '../components/Nav.astro';
---

<Main>
	<main>
		<Nav></Nav>
	</main>
</Main>

<style lang="scss">
	main{
		background-color: black;
		min-height: 100vh;
		padding: .1em;
	}
</style>